.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #0f1108;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  margin-top: 2.2rem;
  /* position: sticky;
  top: 0.5rem; */
  z-index: 3;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(538deg, #454d29, #242a0d);
  opacity: 0.9;
}

.logo-header {
  display: flex;
  padding-top: 1rem;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  width: 1.9rem;
}
.cat-logo {
  width: 35%;
}
.content-header {
  display: flex;
  font-size: 0.9rem;
  color: white;
  margin: 1.1rem 0;
  width: 70%;
  justify-content: space-between;
}

.hero-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.8rem 0;
  padding-bottom: 8.2rem;
}

.hero-heading {
  font-size: 2.7rem;
  text-align: center;
  width: 90%;
  font-family: "Prosto One", sans-serif;
}

.hero-content {
  text-align: center;
  font-size: 1rem;
  max-width: 47.2rem;
  margin: 1rem 0;
  width: 37%;
}

/* #cat-container {
  background: url("images/cat back.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 44%;
  width: 21vw;
  position: relative;
  height: 171px;
  transition: width 0.3s, border-radius 0.3s;
} */

#cat-container {
  width: 250px;
  height: 150px;
  background-color: red;
  border-radius: 80px;
}
/* #resizable-image {
  width: 14vw;
  position: absolute;
} */

.memecoin-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.memecoin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  position: relative;
  padding: 3rem 0 5rem 0;
  margin: 1rem 8rem;
  background: linear-gradient(
    180deg,
    rgba(119, 134, 64, 0.5) 0%,
    rgba(65, 79, 14, 0.5) 100%
  );
  border-radius: 16px;
  border: 1px solid white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.memecoin-heading {
  font-family: "Prosto One", sans-serif;
  font-size: 2.7rem;
  text-align: center;
  padding-bottom: 1.6rem;
  width: 90%;
}

.memecoin-content {
  text-align: center;
  width: 60%;
}

.coin2-image {
  position: absolute;
  left: -5.6rem;
  width: 11.2rem;
}

.coin1-image {
  width: 16.2rem;
  position: absolute;
  right: -8.6rem;
  top: 5.1rem;
}

.coin4-image {
  position: absolute;
  top: -90px;
  width: 10.2rem;
  z-index: -1 !important;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 2.2rem;
  padding-top: 12.2rem;
}
.content-container {
  padding-top: 5.2rem;
}
.scroll-heading {
  font-size: 2.7rem;
  font-family: "Prosto One", sans-serif;
}

.scroll-content {
  text-align: center;
  width: 45%;
  font-size: 0.9rem;
}

.tokenomic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 3.8rem;
}

.tokenomic-heading {
  font-family: "Prosto One", sans-serif;

  font-size: 3.2rem;
}

.tokenomic-image {
  width: 40%;
}

.footer-section {
  background: linear-gradient(
      180deg,
      rgba(119, 134, 64, 0.5) 0%,
      rgba(65, 79, 14, 0.5) 100%
    ),
    url("/images/cat.svg");
  background-size: cover;
  background-position-x: center;

  width: 100%;
  height: 65vh;
  background-color: #454d29;
  margin-top: 7rem;
  position: relative;
}
.cycle-cat-image {
  position: absolute;
  bottom: 0;
  height: 80vh;
}
.inner-footer {
  position: absolute;
  top: 3rem;
  right: 6rem;
  color: white;
}

.footer-heading {
  font-family: "Prosto One", sans-serif;
  font-size: 4.2rem;
  padding: 0 0rem 0.6rem 10.2rem;
}
.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.2rem;
  padding-top: 4.2rem;
}
#social-icon {
  width: 2rem;
}
.spaced {
  letter-spacing: 0.7rem;
}

.gif-container-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.gif-container {
  overflow-x: hidden;
  display: flex;
  width: 100%;
  padding-top: 1.9rem;
}

.gif-track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.gif-svg {
  flex: 0 0 auto;
  width: 450px;
  height: 400px;
  margin-right: 10px;
  object-fit: cover;
  background-position: center;
}

.scroll-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.scroll-button:hover {
  background-color: #ddd;
}
.container-flipper {
  display: flex;
  justify-content: space-around;
  font-family: "Prosto One", sans-serif;
  color: white;
  margin: 2rem 0;
  gap: 1.1rem;
  flex-direction: column;
  align-items: self-end;
  padding: 2.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: #778640;
  width: 40%;
  padding: 3.1rem 2.2rem;
  border-radius: 1.2rem;
}
.container:hover {
  background-color: blueviolet;
  transition: 1s;
  cursor: pointer;
}
.container2:hover {
  background-color: chocolate;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: #778640;
  width: 40%;
  padding: 3.1rem 2.2rem;
  border-radius: 1.2rem;
}
.container-heading {
  font-size: 3rem;
}
.container-content {
  font-size: 0.9rem;
  margin-top: 1.1rem;
}
