.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #0f1108;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  margin-top: 2.2rem;
  background: linear-gradient(538deg, #454d29, #242a0d);
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo-header {
  display: flex;
  padding-top: 1rem;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  width: 1.9rem;
}
.cat-logo {
  width: 35%;
}
.content-header {
  display: flex;
  font-size: 0.9rem;
  color: white;
  margin: 1.1rem 0;
  width: 70%;
  justify-content: space-between;
}

.hero-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
  padding-bottom: 8.2rem;
}

.hero-heading {
  font-size: 3.7rem;
  text-align: center;
  width: 90%;
  font-family: "Prosto One", sans-serif;
}

.hero-content {
  text-align: center;
  font-size: 1.2rem;
  max-width: 47.2rem;
  margin: 2.2rem 0;
  width: 37%;
}

#resizable-image {
  border-radius: 20%/50%;
}

.new-cat-image {
  width: 50%;
  display: block;
}

.memecoin-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.memecoin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  position: relative;
  padding: 3rem 0 5rem 0;
  margin: 1rem 8rem;
  background: linear-gradient(
    180deg,
    rgba(119, 134, 64, 0.5) 0%,
    rgba(65, 79, 14, 0.5) 100%
  );
  border-radius: 16px;
  border: 1px solid white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.memecoin-heading {
  font-family: "Prosto One", sans-serif;
  font-size: 3.7rem;
  text-align: center;
  padding-bottom: 1.6rem;
  width: 90%;
}

.memecoin-content {
  text-align: center;
  width: 60%;
}

.coin2-image {
  position: absolute;
  left: -5.6rem;
  width: 11.2rem;
}

.coin1-image {
  width: 16.2rem;
  position: absolute;
  right: -8.6rem;
  top: 5.1rem;
}

.coin4-image {
  position: absolute;
  top: -90px;
  width: 10.2rem;
  z-index: -1 !important;
}
.cursor {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: yellow;
  /* border: 1px solid yellow; */
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: -111;
}
.cursor2 {
  position: fixed;
  /* height: 8px;
  width: 8px; */
  background-color: yellow;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
  z-index: -111;
}
