.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #0f1108;
  overflow-x: hidden;
}

.sparkle {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #e9b32b 0%, #c68307 100%);
  filter: blur(7px);
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0.3;
  z-index: -1;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
  margin-top: 2.2rem;
  position: sticky;
  top: 0.5rem;
  z-index: 3;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(538deg, #454d29, #242a0d);
  opacity: 0.9;
}

.logo-header {
  display: flex;
  padding-top: 1rem;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  width: 1.9rem;
}
.cat-logo {
  width: 35%;
}
.content-header {
  display: flex;
  font-size: 0.9rem;
  color: white;
  margin: 1.1rem 0;
  width: 70%;
  justify-content: space-between;
}

.hero-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.8rem 0;
  padding-bottom: 8.2rem;
}

.hero-heading {
  font-size: 2.7rem;
  text-align: center;
  width: 90%;
  font-family: "Prosto One", sans-serif;
}

.hero-content {
  text-align: center;
  font-size: 1rem;
  max-width: 47.2rem;
  margin: 1rem 0;
  width: 37%;
}

#cat-container {
  width: 250px;
  height: 150px;
  border-radius: 90px;
  background-image: url(images/cat\ back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

#resizable-image {
  position: absolute;
  height: 190px;
  transition: width 0.5s, height 0.5s;
}

.memecoin-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.memecoin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  position: relative;
  padding: 4rem 0 6rem 0;
  margin: 1rem 8rem;
  background: linear-gradient(
    180deg,
    rgba(119, 134, 64, 0.5) 0%,
    rgba(65, 79, 14, 0.5) 100%
  );
  border-radius: 16px;
  border: 1px solid white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.memecoin-heading {
  font-family: "Prosto One", sans-serif;
  font-size: 2.7rem;
  text-align: center;
  padding-bottom: 1.6rem;
  width: 90%;
}

.memecoin-content {
  text-align: center;
  width: 60%;
}

.coin2-image {
  position: absolute;
  left: -5.6rem;
  width: 11.2rem;
}

.coin1-image {
  width: 16.2rem;
  position: absolute;
  right: -8.6rem;
  top: 5.1rem;
}

.coin4-image {
  position: absolute;
  top: -90px;
  width: 10.2rem;
  z-index: -1 !important;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 2.2rem;
  padding-top: 12.2rem;
}
.content-container {
  padding-top: 5.2rem;
  padding-bottom: 2.9rem;
}
.scroll-heading {
  font-size: 2.7rem;
  font-family: "Prosto One", sans-serif;
}

.scroll-content {
  text-align: center;
  width: 45%;
  font-size: 0.9rem;
}

.tokenomic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 3rem;
  padding-top: 2.9rem;
}

.tokenomic-heading {
  font-family: "Prosto One", sans-serif;

  font-size: 3.2rem;
}

.tokenomic-image {
  width: 40%;
}

.footer-section {
  background: linear-gradient(
      180deg,
      rgba(119, 134, 64, 0.5) 0%,
      rgba(65, 79, 14, 0.5) 100%
    ),
    url("/images/cat.svg");
  background-size: cover;
  background-position-x: center;

  width: 100%;
  height: 65vh;
  background-color: #454d29;
  margin-top: 7rem;
  position: relative;
}
.cycle-cat-image {
  position: absolute;
  bottom: 0;
  height: 80vh;
}
.inner-footer {
  position: absolute;
  top: 3rem;
  right: 6rem;
  color: white;
}

.footer-heading {
  font-family: "Prosto One", sans-serif;
  font-size: 4.2rem;
  padding: 0 0rem 0.6rem 10.2rem;
}
.footer-social-icon {
  display: flex;

  place-content: flex-end;
  gap: 4.7rem;
  padding-top: 4.2rem;
  align-items: center;
}
#social-icon {
  width: 2rem;
}
.uniswapImg {
  height: 3.2rem;
  text-align: center;
}
.uniswapImg2 {
  width: 2.8rem;
}
.dextolImge {
  width: 1.6rem;
}
.spaced {
  letter-spacing: 0.7rem;
}

section {
  width: 70vw;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before,
section::after {
  content: "";
  background-color: #0f1108;
  position: absolute;
  border-radius: 50%;
  left: calc(-1 * 60px);
  right: calc(-1 * 60px);
  height: 99px;
}
section::before {
  top: calc(-0.6 * 120px);
  background: #0f1108;
}
section::after {
  bottom: calc(-0.6 * 120px);
  background: #0f1108;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #0f1108;
}

::-webkit-scrollbar-thumb {
  background: #0f1108;
}

::-webkit-scrollbar-corner {
  background: #0f1108;
}

.wrapper {
  display: flex;
  grid-template-rows: 360px;
  grid-auto-flow: column;
  grid-gap: 5px;
  background-color: #0f1108;
  transition: transform 0.2s ease;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.wrapper img {
  height: 24rem;
}

.gifContainer {
  scrollbar-width: none;
}
.gifContainer::-webkit-scrollbar {
  display: none;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.container1.visible {
  animation: slideInFromLeft 1s forwards;
}

.container2.visible {
  animation: slideInFromRight 1s forwards;
}

.container-flipper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Prosto One", sans-serif;
  color: white;
  margin: 1rem 0;
  gap: 1.1rem;
  padding-left: 11.3rem;
  padding-right: 15.3rem;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: #778640;
  opacity: 0;
  transition: background-color 1s;
  width: 45%;
  padding: 1.7rem 3.2rem;
  border-radius: 1.2rem;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.container:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.container2:hover {
  background-color: chocolate;
}

.container-heading {
  font-size: 3rem;
}

.container-content {
  font-size: 0.9rem;
  margin-top: 1.1rem;
}
.uniswap-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5.2rem;
  font-family: "Prosto One", sans-serif;
  color: white;
  position: relative;
}

.uniswap-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(119, 134, 64, 0.5) 0%,
    rgba(65, 79, 14, 0.5) 100%
  );
  width: 35%;
  padding: 1.5rem 2.2rem;
  border-radius: 1.2rem;
  position: relative;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.uniswap-imagee {
  position: absolute;
  width: 13.5%;
  z-index: -1 !important;
  left: 23rem;
  bottom: 17.4rem;
}

.uniswap2-container {
  background-color: #778640;
  width: 45%;
  height: 60vh;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
